<!DOCTYPE html>
<html>
<head>
    <title>Loan Prediction</title>
</head>

<body>

<h2>Loan Approval Prediction</h2>

<form action="/predict" method="post">

    <label>Income:</label><br>
    <input type="number" step="any" name="income" required><br><br>

    <label>Loan Amount:</label><br>
    <input type="number" step="any" name="loan" required><br><br>

    <label>Credit Score:</label><br>
    <input type="number" step="any" name="credit" required><br><br>

    <button type="submit">Predict</button>

</form>

<br>

{% if prediction %}
<h3>Result: {{ prediction }}</h3>
{% endif %}

</body>
</html>